services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"

    # <-- Load .env from backend folder
    env_file:
      - ./backend/.env

    environment:
      ENV_STATE: "dev"

    volumes:
      - ./backend:/app   # bind mount for live reload

    command: uvicorn main:app --host 0.0.0.0 --reload
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nextjs-frontend
    ports:
      - "3000:3000"
    environment:
      ENV_STATE: "dev"

    volumes:
      - ./frontend:/app
      - /app/node_modules

    command: npm run dev
    restart: unless-stopped

  auth_db:
    image: postgres:15
    container_name: auth_db

    # <-- Also load env for DATABASE settings
    env_file:
      - ./backend/.env

    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
