services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    environment:
      ENV: "DEV"
    volumes:
      - ./backend:/app
    restart: unless-stopped