fastapi
uvicorn
pydantic
pydantic-settings
email-validator
duckdb
pandas
numpy
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
httpx
pytest
sqlalchemy
yfinance
apscheduler
